Django==5.*
django-ninja==1.*
django-ninja-jwt==5.*
psycopg2-binary==2.9.11
pydantic==2.11.10
pydantic-settings==2.*
django-storages
boto3
redis
django-redis
django-celery-results
celery
langchain-qdrant
langchain-google-genai
langchain-community
langchain-text-splitters
pypdf
qdrant-client
google-auth
requests
django-cors-headers